<h2>Add Employee</h2>
<form method="POST" action="/employees">
    <input type="text" name="name" placeholder="Name" required><br>
    <input type="email" name="email" placeholder="Email" required><br>
    <input type="number" name="basic" placeholder="Basic" required><br>
    <input type="number" name="hra" placeholder="HRA" required><br>
    <input type="number" name="da" placeholder="DA" required><br>
    <button type="submit">Add</button>
</form>
<br>
<a href="/logout">Logout</a>
